.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  z-index: 100;
}

.leftsec {
  display: flex;
  align-items: center;
}
.menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.logo {
  height: 20px;
  cursor: pointer;
}

.rightsec {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.middlesec {
  display: flex;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
}
.search-button {
  height: 39px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.search-button,
.voice-button,
.notify-icon-cont,
.upload-icon-cont,
.apps-cont {
  display: flex;
  justify-content: center;
}
.search-button .tooltip,
.voice-button .tooltip,
.notify-icon-cont .tooltip,
.upload-icon-cont .tooltip,
.apps-cont .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  font-family: Roboto, Arial;
}
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.notify-icon-cont:hover .tooltip,
.upload-icon-cont:hover .tooltip,
.apps-cont:hover .tooltip {
  opacity: 1;
}

.voice-button {
  height: 39px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}
.search {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.searchphoto {
  height: 25px;
  margin-top: 4px;
  cursor: pointer;
}
.voicephoto {
  height: 24px;
  margin-top: 4px;
  cursor: pointer;
}

.uploadicon {
  height: 24px;
  cursor: pointer;
}
.appicon {
  height: 24px;
  cursor: pointer;
}

.notification {
  height: 24px;
  cursor: pointer;
}
.mychannel {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}
.notify {
  position: relative;
}
.notifycount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(164, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 10px;
  border-radius: 10px;
  cursor: pointer;
}
