.image1 {
  width: 100%;
}
.titlevid {
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 14px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile {
  width: 36px;
  border-radius: 50px;
}
.thumbrow {
  margin-bottom: 8px;
  position: relative;
}
.author,
.stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 751px) and (min-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-family: Roboto, Arial;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding: 4px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
}
